body {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: $background;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

section {
  margin: 0 auto;
}


input,textarea {
  padding: .5em;
  background: white;
  font-size: 16px;
  background-color: white;
  border-radius: 4px;
  -webkit-appearance: none;
  border: 1px solid darkgray;

  &:focus {
    box-shadow: 0 0 0 0.2em $accent-color;
  }
}

label {
  font-size: 18px;
  margin-right: 1rem;
  margin-left: 1rem;
  text-align: center;
}

button {
  outline: none;
  border-radius: 5px;
  font-size: 1rem;
  height: 2.5rem;
  background: $accent-color;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all .25s ease-in-out;

  &:hover {
    background: darken($accent-color, 10%);
  }

  &:active {
    transform: scale(.90);
  }
}