footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  background: $accent-color;
  color: white;
  padding: 1rem;
  width: 100vw;
  font-size: 14px;
  margin-top: 1rem;
}

p {
  margin-right: 5px;
}

a {
  color: inherit;
} 