.container {
  @include card;
  padding: 2rem;
}

.newParty {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  padding: .75rem;

  &__share {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: nowrap;

    button {
      margin: 5px;
    }

    @media screen and (max-width: 675px) {
      width: auto;
      height: 200px;
      flex-direction: column;
    }
  }

  &__fields {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;

    @include medium {
      display: grid;
      grid-template-columns: 200px 1fr;
      grid-gap: 5px;
      max-width: 500px;
    }

    label {
      display: block;

      @include medium {
        place-self: center end;
      }
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 1rem;
    margin: 0 0 5rem;

    &--container {
      @include card;
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      margin-bottom: 1rem;
      padding: 1rem;
    }

    &--none {
      @include card;
      padding: 1rem;
    }

    &--form {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      flex-wrap: wrap;

      form {
        margin: 5px;
      }
    }

    p {
      margin-bottom: .5rem;
      max-width: 500px;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: center;
    }
  }

  &__input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

input {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

form {
  button {
    width: 100%;
  }
}