@import 'vendors/reset.scss';
@import 'config/colors.scss';
@import 'config/medias.scss';
@import 'config/animations.scss';
@import 'config/mixins.scss';
@import 'layout/base.scss';
@import 'layout/footer.scss';
@import 'blocs/newParty.scss';

h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
  color: $accent-color;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.125;

  &:hover {
    color: darken($accent-color, 10%);
  }

  @media screen and (max-width: 430px) {
    font-size: 1.6rem;
  }
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 2rem;
  color: $secondary-color;
}

h3 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
}