@import 'vendors/reset.scss';
@import 'config/medias.scss';
@import 'blocs/newParty.scss';

body {
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.6rem;
  margin-bottom: 0.5rem;
}